@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";

.hero {
    position: relative;
    height: 100dvh;
    width: 100dvw;

    &>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &>div {
        @include mixins.flex(column, flex-start, flex-start);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;

        &>div {
            @include mixins.flex(column, space-between, stretch);
            height: 100%;
            width: 100%;
            position: relative;

            &>img {
                flex: 1;
                object-fit: contain;
                height: 25dvh !important;
                max-width: 50%;

                &:first-child {
                    object-position: top;
                    left: -25% !important;
                    animation: slideFromRight 0.8s ease both;
                }

                &:last-child {
                    transform: rotate(-180deg);
                    object-position: top;
                    left: 75% !important;
                    animation: slideFromRightFlipped 0.8s ease 1.6s both;
                }
            }

            &>header {
                @include mixins.flex(column, center, center);
                gap: functions.pixelsToRem(10);
                position: absolute;
                margin: calc(functions.pixelsToRem(variables.$margin-desktop) / 2) functions.pixelsToRem(variables.$margin-desktop) 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                animation: slideFromRightCentered 0.8s ease 0.8s both;

                &>img {
                    max-width: 85% !important;
                    height: fit-content !important;
                    object-fit: contain;
                }

                &>h1 {
                    @include mixins.title;
                    font-size: functions.pixelsToRem(50);
                    color: variables.$blueberry;
                }
            }
        }

        &>a {
            @include mixins.flex(row, center, center);
            width: 100%;
            background: variables.$blueberry;
            padding: functions.pixelsToRem(30) functions.pixelsToRem(variables.$margin-desktop) functions.pixelsToRem(15);
            border: none;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            animation: slideFromBottom 0.8s ease 2.4s both;

            &::before {
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background: variables.$raspberry;
                position: absolute;
                bottom: 0;
                left: -100%;
                transition: left 0.5s ease;
            }

            &:hover::before,
            &:focus::before {
                left: 0;
            }

            &>span {
                @include mixins.title;
                font-size: functions.pixelsToRem(70);
                color: white;
                z-index: 2;
            }
        }
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRightCentered {
    from {
        transform: translate(100%, -50%);
    }

    to {
        transform: translate(0, -50%);
    }
}

@keyframes slideFromRightFlipped {
    from {
        transform: translateX(100%) rotate(-180deg);
    }

    to {
        transform: translateX(0) rotate(-180deg);
    }
}

@keyframes slideFromBottom {
    from {
        margin-bottom: -50%;
    }

    to {
        margin-bottom: 0;
    }
}