@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";

.hero {
    position: relative;
    height: 100dvh;
    width: 100dvw;

    &>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &>div {
        @include mixins.flex(column, flex-start, stretch);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        gap: functions.pixelsToRem(40);

        &>header {
            @include mixins.flex(column, center, center);
            gap: functions.pixelsToRem(10);
            position: relative;
            max-height: 50%;
            margin: functions.pixelsToRem(variables.$margin-desktop) functions.pixelsToRem(variables.$margin-desktop) 0 functions.pixelsToRem(variables.$margin-desktop);

            &>img {
                max-width: 75% !important;
                height: fit-content !important;
                object-fit: contain;
            }

            &>h1 {
                @include mixins.title;
                font-size: functions.pixelsToRem(50);
                color: variables.$blueberry;
            }
        }

        &>div {
            @include mixins.flex;
            gap: functions.pixelsToRem(variables.$margin-desktop);
            margin: 0 functions.pixelsToRem(variables.$margin-desktop);

            &>img {
                width: 50% !important;
                object-fit: contain;
                z-index: 1;
            }

            &>p {
                @include mixins.title;
                width: 50%;
                color: variables.$blueberry;
                font-size: functions.pixelsToRem(70);
            }
        }

        &>button {
            @include mixins.flex(row, flex-end, center);
            width: 100%;
            background: variables.$blueberry;
            padding: calc(functions.pixelsToRem(variables.$margin-desktop) / 2) functions.pixelsToRem(variables.$margin-desktop);
            border: none;
            cursor: pointer;
            position: absolute;
            bottom: 0;

            &>div {
                @include mixins.flex(row, center, center);

                &>span {
                    @include mixins.title;
                    color: white;
                }

                &[data-breakpoint="desktop"] {
                    gap: functions.pixelsToRem(30);

                    &>span {
                        font-size: functions.pixelsToRem(70);
                    }

                    &>svg {
                        width: functions.pixelsToRem(50);
                    }
                }

                &[data-breakpoint="mobile"] {
                    display: none;
                }
            }
        }
    }
}