* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    scroll-behavior: smooth;
}

html {
    max-width: 100dvw;
    overflow-x: hidden;
}